body {
  background-color: snow
}

h1{
  color: DarkSlateGray
}

header{
  color: Aqua
}

a{
  color: MidnightBlue
}

.sourcing{
  font-family: sans-serif;
  background-color: rgb(200,200,240);
  font-size: x-small;
}

#top{
  font-size: xx-large;
}

/* background color, text color, header color, link color. */
